<h1>Edit Profile!</h1>


<form method="POST" enctype="multipart/form-data" id="profile" >
<input type="file" name="photo" id="profile"
   value="{{ user.photo }}">

  <label for="input-name">First and Last Name</label>
  <input
    id="input-name"
    type="text"
    placeholder="First and Last Name"
    name="name"
    value="{{ user.name }}"
  > 

  <label for="input-email">Email</label>
  <input
    id="input-email"
    type="email"
    placeholder="Email"
    name="email"
    value="{{ user.email }}"
  >
  
  <button>Save Profile</button>
</form>