

<div id="dad-joke">
          <div class="joke">
            <p>{{joke}}</p>
          </div>
          <a href='/about'> Ubelimi </a>
</div>

<div id="about">
      <p>
        Ubelimi sprung out of a moment shared with friends while visitng Tel Aviv. This group of 
        friends loves traveling the world, living simply and enjoying each moment to it's fullest. While in Tel Aviv, a 
        local friend led a culinary tour through the markets and thoroughly impressing the friends with one "would you 
        believe me" at a time. We believed every second of that epic tour. So much so, 
        the phrase Ubelimi was said so many times over the following months, it was voted one of the most diverse phrases in the English dictionary. <a href="https://www.urbandictionary.com/define.php?term=Ubelimi%3F">Ubelimi?</a>
      </p><br>

      <em>
        Built by Diana Odiaka & Tyler Taboada
      </em>
</div>
      




<a href="#"> Contact Us</a>