
<div class="container-abt">
<div id="about">
      <p>
        Ubelimi sprung out of a moment shared with friends while visitng Tel Aviv. This group of 
        friends loves traveling the world, living simply and enjoying each moment. A local friend gave 
        a culinary tour through the markets of Tel Aviv while impressing the friends one "would you 
        believe me" moment at a time. We believed every second of those incredulous but true moments. So much so, 
        Ubelimi? was asked so many times over the following months, it was voted one of the most diverse phrases in the English dictionary. <a href="https://www.urbandictionary.com/define.php?term=Ubelimi%3F"  class="btn btn-primary abt">Ubelimi?</a>
      </p>
      </div>
      <hr />
      <div>
      <p><b><i>U-Be-Li-Mi moments are moments of spontaneity, despair, bravery, triumph! They are memories of extraordinary things happening to ordinary people, they are precious moments in time!! </i></b></p>
      <div><strong>Share Your Ubelimi Moments, Today!</strong></div>

      <em>
        Built by Diana Odiaka & Tyler Taboda
      </em>
      <div><strong>We BeliU!</strong></div>
</div>
<footer>
<a href="#"> Contact Us</a>
</footer>
</div>      



