

<div id="dad-joke">
          <div class="joke">
            <p>{{joke}}</p>
          </div>
          <a href='/about'> Ubelimi </a>
</div>

<div id="about">
      <p>
        Ubelimi sprung out of a moment shared with friends while visitng Tel Aviv. This group of 
        friends loves traveling the world, living simply and enjoying each moment. A local friend gave 
        a culinary tour through the markets of Tel Aviv while impressing the friends one "would you 
        believe me" at a time. We believed every second of that epic tour. So much so, 
        Ubelimi was said so many times over the following months, it was voted one of the most diverse p
        hrases in the English dictionary. Check it you yourself: <a href="https://www.urbandictionary.com/define.php?term=Ubelimi%3F">Ubelimi?</a>
      </p><br>

      <p>
        Powered by Diana 


      </p>
</div>
      




<a href="#"> Contact Us</a>