
<div class="container-abt">
<a href="#"> Contact Us</a>
</footer>
</div>      


<div class="card bg-light border-dark mb-3" style="max-width: 48rem;">
  <div class="card-header bg-transparent border-dark">About</div>
  <div class="card-body bg-transparent text-dark">
    <h5 class="card-title">U-Be-Li-Mi</h5>
    <p class="card-text"> Ubelimi sprung out of a moment shared with friends while visitng Tel Aviv. This group of 
        friends loves traveling the world, living simply and enjoying each moment. A local friend gave 
        a culinary tour through the markets of Tel Aviv while impressing the friends one "would you 
        believe me" moment at a time. We believed every second of those incredulous but true moments. So much so, 
        Ubelimi? was asked so many times over the following months, it was voted one of the most diverse phrases in the English dictionary.</p>
        <div class="d-flex justify-content-center">
            <a href="https://www.urbandictionary.com/define.php?term=Ubelimi%3F"  class="btn btn-primary abt">Ubelimi?</a>
        </div>

        <hr />
      <p>U-Be-Li-Mi moments are <br>
      <b><i>
      <ul>
        <p>   momentsOf : { </p>
        <li> type: String,</li> 
        <li>enum: [ "spontaneity", "despair", "inspiration", "ingenuity" " bravery", "triumph" ],</li>
        <li>required: true</li>
        <li>} </li>
      </ul>
      </i></b>
        <br>  They are memories of extraordinary things happening to ordinary people, they are precious moments in time!</p>
      <div><strong>Share Your Ubelimi Moments, Today!</strong></div>
  </div>
  <div class="card-footer bg-transparent border-dark">
      <em>
        Built by <a href="https://github.com/dianabeth">Diana Odiaka </a>  and  <a href="https://ironhack.slack.com/archives/D01813D7Q91/p1596791407004200"> Tyler Taboada </a>
      </em>
      <div><strong>We BeliU!</strong></div>
  </div>
</div>


