<div class="container m-0 p-0">

<div id="homescreen">

   {{#if user}}

            <div id="main-ubelimi">
                  <p id="ubelimi-joke"> {{joke}} </p>
                  <a href="/">Ubelimi?</a> 
            </div>

   {{else }}
         <div id="home-buttons">

            <div id="main-ubelimi-login">
            <h1> Ubelimi </h1>
            <p>Create moments worth sharing.</p>
            </div>
            
            <form action="/authentication/sign-up" method="GET">
            <button> Create Account </button>
            </form>

            <form action="/authentication/sign-in" method="GET">
            <button> <span> </span> Log In </button>
            </form>
      </div>
   {{/if }}

</div>

</div>