<div class="homescreen">


<h1> Ubelimi </h1>

<div class="Signup">



<form action="/authentication/sign-up" method="GET">
<button> Create Account </button>
</form>

<form action="/authentication/sign-in" method="GET">
<button> Log In </button>
</form>
 
</div>


</div>


