<h1> Ubelimi </h1>

<div class="Signup">



<form action="/authentication/sign-up" method="GET">
<button> Create Account </button>
</form>

<form action="/authentication/sign-in" method="GET">
<p> </p>
<button> <span> <small> Already have an account?</small> </span> Log In </button>
</form>
 
</div>