<div id="homescreen">


      <div id="home-buttons">

            <div id="main-ubelimi">
            <h1> Ubelimi </h1>
            </div>
            
            <form action="/authentication/sign-up" method="GET">
            <button> Create Account </button>
            </form>

            <form action="/authentication/sign-in" method="GET">
            <button> <span> </span> Log In </button>
            </form>
      </div>

</div>
