<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
<nav class="navbar navbar-light bg-light">
  
     <a href="/error"><img src="/images/ubelimi_logo.png" alt="Ubelimi" class="logo"></a> 
          <a href="/about">About</a>
    {{#if user}}
     <span class="d-flex flex-row-reverse">
         <a href="/profile/user">
          <img class='profile-pic-nav' src="/images/ubelimi-profile-pic.jpeg" alt="" loading="lazy">
        </a> 
        <form class='nav-form' action="/authentication/sign-out" method="POST">
          <button class='signout'>Sign Out </button>
        </form>
      </span>
  
       {{/if}}
 
</nav>
    {{{body}}}

    <script src="/scripts/script.js"></script>
  </body>
</html>
