<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
<nav class="navbar navbar-light">
  
     <a href="/"><img src="/images/ubelimi_logo.png" alt="Ubelimi" class="logo"></a> 

    {{#if user}}
     <span class="d-flex">

          <a href="/moment/view-all">        
          <img class='profile-pic-nav' src="/images/f6e8ab.png" alt="" loading="lazy">  
          </a>

          <a href="/moment/create">        
          <img class='profile-pic-nav' src="/images/f05f6a.png" alt="" loading="lazy">
          </a> 

          <a href="/profile">        
          <img class='profile-pic-nav' src="/images/ubelimi-profile-pic.jpeg" alt="" loading="lazy">
          </a> 

            <form class='nav-form' action="/authentication/sign-out" method="POST">
            <button class='signout'><img class='profile-pic-nav' src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fui-essential-elements-dark-buttons%2F110%2FPower-512.png&f=1&nofb=1" action="/authentication/sign-out" method="POST" loading="lazy"> </button>
          </form>
      </span>
    {{/if}}
 
</nav>
    {{{body}}}

    <script src="/scripts/script.js"></script>
  </body>
</html>
