<h1>Sign Up Page</h1>
<button class="open-button" onclick="openForm()">Find me!</button>
  



<div class="chat-popup" id="myForm">
  <form action="#" class="form-container" method="GET">   

<label for="latitude-input">Latitude</label>
  <input id="latitude-input" type="text" placeholder="Latitude" name="latitude">
  
  <label for="longitude-input">Longitude</label>
  <input id="longitude-input" type="text" placeholder="Longitude" name="longitude">
      <label for="radius-input">Radius</label>
  <input id="radius-input" type="text" placeholder="Radius" name="radius" value="10000">
<label for="msg"><b>Click Where am i button and Search!</b></label>

  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
  
 


<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>


 <button id="trigger-location">Where am I?</button>
<div id="signup-map-container"></div>

<form action="/authentication/sign-up" method="POST">

  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />

<button>Sign Up</button>
</form>

<a href="/authentication/github">Sign Up with GitHub</a>

<script>
  function init () {
    const mapContainerElement = document.getElementById('signup-map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.75,
        lng: -9.15
      },
      zoom: 11
    });
  const triggerLocationButton = document.getElementById('trigger-location');
  const latitudeInputElement = document.getElementById('latitude-input');
  const longitudeInputElement = document.getElementById('longitude-input');
  triggerLocationButton.addEventListener('click', () => {
    window.navigator.geolocation.getCurrentPosition(position => {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      latitudeInputElement.value = latitude;
      longitudeInputElement.value = longitude;
      const marker = new window.google.maps.Marker({
        map,
        position:{
        lat: latitude, 
        lng: longitude
        },
        icon: { url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"  }
     });
    }, error => {
      console.log(error);
    })
   });
     
   }
</script>
{{> mapscript}}
