<h1>Are you absolutely sure?/h1>
<p> This is a permanent act!!!</p>

<form method="POST" action="/moment/{{ moment.id }}/delete">
  <button>Delete Moment</button>
</form>

<a href="/profile/profile-edit">Edit Profile</a>


