<h1> Edit your moment</h1>

<form method="POST">
  <textarea
    name="moment"
    placeholder="The content for your moment..."
  >{{ moment.content }}</textarea>
  <button>Save moment</button>
</form>