<h1>All Moments</h1>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/moment/create">Create New Moment</a>

<h2>Map of Moments Placeholder</h2>

<h4>Single Moment</h4><br>
<h4>Single Moment</h4><br>


<div class="moment-list">
  {{#each moments}}
    {{> moment}}
  {{/each}}
</div>

