<h1>Do Ubelimi Moments</h1>
<h1>{{title}}</h1>
<p>Welcome {{ user.name }}</p>

<a href="/moment/create">Create New Moment</a>

<h2>Map of Moments Placeholder</h2>

<div class="moment-list">
  {{#each moment}}
    {{> moment}}
  {{/each}}
</div>

