// EMAIL SIGN UP CONIFRMATION

<h1>Thanks for signing up</h1>
<p>Please check your email to verify your acct!</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
