*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  max-width: 52em;
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
nav {
  display: flex;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}*/
h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 50vw;
  max-width: 50vh;
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

#profile {
  max-width: 300px;
  padding: 0.5em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

#signup-map-container {
  height: 30vh;
  width: 30vw;
  display: block;
  margin: 20px auto;
}

#map {
  height: 100%;
}

.buttons h3 {
  color: red;
}
#map-container {
  height: 50vh;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin: 20px auto;
}

.buttons p {
  color: white;
  margin-top: 1em;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25em;
  line-height: normal;
}

.main-menu img {
  width: 100px;
  height: 20px;
}

.menu a {
  background-color: #37393b;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

#profile-menu {
  display: flex;
  flex-direction: row;
  background-image: url('https://images.unsplash.com/photo-1561679421-8198208ad6c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
  background-position: bottom;
  background-size: inherit;
  background-repeat: no-repeat;
}

#section-map {
  margin: 0 auto;
}

a {
  color: #00b7ff;
}

.container {
  background-color: grey;
  color: black;
  text-align: center;
  margin: 0;
  padding: 15px;
  max-width: 500px;
}

header {
  text-align: center;
}

.main {
  background-color: white;
  font-size: 0.5em;
}

.logo {
  width: 150px;
  height: 100px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.bg {
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
  padding: 20px;
}

#pic {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin: 1em;
}

.card {
  background-color: rgba(246, 232, 171, 0.482);
  font-size: 0.5em;
}

.profile {
  width: 100%;
}

ul {
  list-style-type: none;
}

#map-container {
  height: 50vh;
  width: 50vw;
  display: block;
  margin: 20px auto;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: -10px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: -10px;
  right: 15px;
  border: 1px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 5px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .search {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#trigger-location {
  background-color: 31.25%;
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
