 <div class="profile">
<img src="{{ user.photo }}" alt="profile-pic" id="pic">
<h1>Welcome {{ user.name }}</h1>
  </div>

<div class="bg">
<a href="/profile/edit">Edit Profile</a>
<a href="/moment/create">Create New Moment</a><br>
<div id="map-container"></div>



{{!-- INSERT DAD JOKE API --}}

{{!-- <div class="dad-joke">
    <div id="joke" class="joke">
        // Joke goes here
    </div>
    <button id="get_joke" class="btn"> Ubelimi? </button>
</div> --}}
<br>
<span><strong>Email</strong>: {{user.email}}</span>


{{#each moment}}
{{> moment}}
<<<<<<< HEAD:views/moment/profile/user.hbs
  {{/each}}
</div>

=======
{{/each}}
>>>>>>> 4f73d4d58e142f99b0d1e6cfd2163c0056f7b8f0:views/profile/user.hbs

  
<script>
  
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.75,
        lng: -9.15
      },
      zoom: 11
    });
  }

  
  
    
  
</script>


{{> mapscript}}




